#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE   0
#define LOWER  1
#define RAISE  2
#define ADJUST 3

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            label = "BASE";
            bindings = <
&kp ESC  &kp Q           &kp W           &kp E               &kp R        &kp T    &kp Y  &kp U        &kp I                &kp O            &kp P                    &kp BACKSLASH
&kp TAB  &hm LEFT_GUI A  &hm LEFT_ALT S  &hm LEFT_CONTROL D  &hm LSHFT F  &kp G    &kp H  &hm RSHFT J  &hm RIGHT_CONTROL K  &hm RIGHT_ALT L  &hm RIGHT_GUI SEMICOLON  &kp SINGLE_QUOTE
         &kp Z           &kp X           &kp C               &kp V        &kp B    &kp N  &kp M        &kp COMMA            &kp DOT          &kp FSLH
         &mo 4           &kp LALT        &kp SPACE           &mo 1        &mo 2    &mo 3  &kp RET      &kp SPACE            &kp BACKSPACE    &kp K_FIND
            >;
        };

        lowerlayer {
            bindings = <
&kp GRAVE  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5    &kp N6  &kp N7  &kp N8  &kp N9  &kp N0  &kp MINUS
&kp TAB    &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &kp EQUAL
           &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
           &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
            >;

            label = "Numbers";
        };

        raise_layer {
            label = "RAISE";
            bindings = <
&kp F1  &kp F2    &kp F3    &kp F4     &kp F5     &kp F6    &kp F7  &kp F8          &kp F9             &kp F10          &kp F11          &kp F12
&trans  &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &trans    &trans  &kp LEFT_ARROW  &kp DOWN_ARROW     &kp UP_ARROW     &kp RIGHT_ARROW  &trans
        &trans    &trans    &trans     &trans     &trans    &trans  &kp K_MUTE      &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &trans
        &trans    &trans    &trans     &trans     &trans    &trans  &trans          &trans             &trans           &trans
            >;
        };

        Symbols_layer {
            label = "Symbols";
            bindings = <
&kp EXCL   &kp LEFT_BRACE  &kp SINGLE_QUOTE  &kp DOUBLE_QUOTES  &kp RIGHT_BRACE   &kp QUESTION     &trans      &kp BACKSPACE         &trans            &trans             &trans                 &trans
&kp TILDE  &kp CARET       &kp EQUAL         &kp UNDER          &kp DOLLAR        &kp STAR         &kp PERIOD  &kp DEL               &trans            &kp AMPERSAND      &kp PLUS               &trans
           &kp LESS_THAN   &kp PIPE          &kp MINUS          &kp GREATER_THAN  &kp BACKSLASH    &kp SLASH   &kp LEFT_PARENTHESIS  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp RIGHT_PARENTHESIS
           &kp HASH        &kp PERCENT       &kp GRAVE          &trans            &trans           &trans      &trans                &trans            &trans             &trans
            >;
        };

        bootlayer {
            bindings = <
&trans  &trans  &trans  &trans  &trans       &trans         &trans       &trans       &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans       &trans         &trans       &trans       &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &bootloader  &bootloader    &bootloader  &bootloader  &trans  &trans  &trans
        &trans  &trans  &trans  &trans       &trans         &trans       &trans       &trans  &trans  &trans
            >;

            label = "bootloader";
        };
    };
};
